{#
/**
 * @file
 * Default theme implementation to display the commerce_add_to_cart_popup_form.
 *
 * Available variables:
 * - product: The rendered product
 * - product_entity: The product entity.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  view_mode ? view_mode|clean_class
]
%}
<div {{ attributes.addClass(classes) }}>
  {{ product }}
</div>
