{#
/**
 * @file
 * Default theme implementation to display the commerce_add_to_cart_success.
 *
 * Available variables:
 * - content: The content render array.
 * - product_entity: The product entity.
 * - selected_variation: The selected product variation entity.
 * - attributes: The attributes element.
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
  {{ content }}
</div>
